<?php

/*
	Define the gallery title here.
*/
const TITLE = 'Gallery';

/*
	Define the view password here.
	This can alo be an array if you want to have multiple passwords.
	( const PASSWORD = ['password1', 'password2']; )
	If the password (array) is empty, the media can be accessed without authentication!
*/
const PASSWORD = '';

/*
	Define the photo/video files root dir path here.
	This can be a path relative to index.php or an absolute path (starting with "/"),
	even outside the webroot dir. If you leave the media folder inside the autogallery
	folder, please make sure that you have "AllowOverride All" set in your Apache config
	in order to make the ".htaccess" file with "Deny from all" work. The media files
	should be accessible only through the media.php script, otherwise the password
	protection is useless.
*/
const ROOT_DIR = 'media';

/*
	Define what should be displayed as image title and subtile.
	You can use FILENAME.EXT or FILENAME to display the respective file name with or without extension.
	Enter the ID of an IPTC tag to display the IPTC field value, e.g. '2#120' for the Caption.
	Possible IPTC fields:
		2#005 -> DocumentTitle
		2#010 -> Urgency
		2#015 -> Category
		2#020 -> Subcategories
		2#040 -> SpecialInstructions
		2#055 -> CreationDate
		2#080 -> AuthorByline
		2#085 -> AuthorTitle
		2#090 -> City
		2#095 -> State
		2#101 -> Country
		2#103 -> OTR
		2#105 -> Headline
		2#110 -> Source
		2#115 -> PhotoSource
		2#116 -> Copyright
		2#120 -> Caption
		2#122 -> CaptionWriter
	You can also leave the field empty to not display anything.
*/
const PHOTO_TITLE = 'FILENAME.EXT';
const PHOTO_SUBTITLE = '2#120';

/*
	Enable or disable video automatic metadata extraction (subtitles).
	Works only if ffmpeg/ffprobe is installed.
*/
const VIDEO_EXTRACT_METADATA = false;

/*
	If you want to capture visitor stats,
	set your Matomo installation details here.
*/
const MATOMO_URL    = null; // e.g. 'https://statistic.example.com/'
const MATOMO_IDSITE = 1;
const MATOMO_TOKEN  = '';
